<div class="mt-4">
    <div class="row">

        {{#each courses}}
        <div class="card" style="width: 18rem;">
            <a href="/courses/{{this.slug}}">
                <img src="{{this.Image}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <a href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.Name}}</h5>
                </a>
                <p class="card-text">{{this.Discription}}</p>
                <a href="#" class="btn btn-primary">Mua khoa hoc</a>
            </div>
        </div>
        {{/each}}

    </div>
</div>